$primary-color:black;
$secondary-color:white;
$primary-font-family:'Cormorant', serif;
$secondary-font-family:'Inter', sans-serif;
$third-color:#D9BEA5;



body{
  background-color: $primary-color;
  color: $secondary-color;
  //width: 390px;
  padding: 20px 20px;
  margin:0 auto;
}

.box1 {

  &__my-name{
    width: 140px;
    height: 29px;
    font-size: 24px;
    font-family:$primary-font-family;

   }
   &__menu-icon{
     background-color: $primary-color;
     width:18px;
     height: 1px;
     margin-bottom: 34px;
     margin-left: 280px;
   }
   &__heading{
      font-family: $primary-font-family;
      font-size: 65px;
      margin-top: 20px;
      color: $secondary-color;

   }
   &__first-paragraph{
     font-family: $secondary-font-family;
    }
  }
  
   .box2{
    &__title2{
      //width:177px;
     font-size: 25px;
      margin-top: 50px;
     
    }
    &__menu-icon{
      width: 16px;
      height: 15px;
     
    }
  }
  
  
  .underline {
    color: #D9BEA5;
    width: 50px;
    float: left;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }
  
  .project {
      margin-bottom: 30px;
      &__img1 {
        width: 100%;
        background-color:#3B3636;
          img {
            width: 100%;
            height: auto;
      }
    }
  
    &__buttons {
      width: 100%;
      overflow: hidden;
      .project__link1 {
        font-size: 30px;
        float: left;
      }
      .project__link2, .project__link3 {
        float: right;
        img {
          width: auto;
          height: 15px;
        }
      }
    }
  
}

h3{
  margin-bottom: 0;
  font-family: $primary-font-family; 
  font-size: 25px;
  padding-bottom: 0;
}

h2{
  margin-bottom: 0;
  font-family: $primary-font-family; 
  font-size: 15px;
  padding-bottom: 0;

}
  
.box3{

    &__paragraph2{
    font-family: $secondary-font-family;
    }

    &__my-image{
    width: 329px;
  }
}

.box4{
   

  &__interest-title{
    font-size: 24px;
    font-family: $primary-font-family;
  }

  &__experience-list, &__interest-list{
    list-style: none;
    
    li{
      margin-bottom: 10px;
      width: 100%;
      display: inline-block;

      a{
        float: left;
        color:$secondary-color;
        text-decoration: none;
      }
      img{
        float: right;
        width: 15px;
        height: auto;

      }
    
    }
 
  }
}

.contact{

  &__contact-title{
  font-family: $primary-font-family;
  font-size: 50px;
  text-align: center;
  
  } 

.cta-button{
  text-decoration: none;
  padding:15px;
  border: 1px solid $third-color;
  background-color: $primary-color;
  margin: 20px auto;
  display: block;
  width: 100px;
  color: $secondary-color;
  text-align: center;
  
  }

}

.footer{
  display: flex;
  justify-content: center;



  &__links-footer{
    margin:0 10px;
    img{
      height: 25px;
      width: auto;

    }
  }  
}


//this is the media query for tablets
@media screen and (min-width: 700px) {
  body{
    background-color: $secondary-color;

  }
  .project{
    display:flex;
    flex-direction: row;
  }
}

//this is the media query for desktop
@media screen and (min-width:1024px) {
  body{
    background-color: pink;
  }
}



