$primary-color:black;
$secondary-color:white;
$primary-font-family:'Cormorant', serif;
$secondary-font-family:'Inter', sans-serif;



body{
  background-color: $primary-color;
  color: $secondary-color;
  //width: 390px;
  padding: 20px 20px;
  margin:0 auto;
}

.box1 {

  &__my-name{
    width: 140px;
    height: 29px;
    font-size: 24px;
    font-family:$primary-font-family;

   }
   &__menu-icon{
     background-color: $primary-color;
     width:18px;
     height: 1px;
     margin-bottom: 34px;
     margin-left: 280px;
   }
   &__heading{
      font-family: $primary-font-family;
      width:340px;
      height: auto;
      margin-top: 20px;
      color:pink;

   }
   &__first-paragraph{
     width:300px;
     height: auto;
     font-family: $secondary-font-family;
    }
  }
  
   .box2{
    &__title2{
      //width:177px;
      height: 51px;
      margin-top: 50px;
     
    }
    &__menu-icon{
      width: 16px;
      height: 15px;
     
    }
  }
  
  
  .underline {
    color: #D9BEA5;
    width: 50px;
    float: left;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }
  
  .project {
      margin-bottom: 30px;
      &__img1 {
        width: 100%;
        background-color:#3B3636;
          img {
            width: 100%;
            height: auto;
      }
    }
  
    &__buttons {
      width: 100%;
      overflow: hidden;
      .project__link1 {
        font-size: 30px;
        float: left;
      }
      .project__link2, .project__link3 {
        float: right;
        img {
          width: auto;
          height: 15px;
        }
      }
    }
  
    
}
  


@media screen and (min-width: 700px) {
  body{
    

  }
  .project{
    display:flex;
    flex-direction: row;
  }
}

@media screen and (min-width:1024px) {
  body{

  }
}

.underline {
  color: #D9BEA5;
  width: 50px;
  float: left;
}

/*&__link1{
 font-family: $primary-font-family;
  width: 150px;
}*/
