$primary-color:black;
$secondary-color:white;
$primary-font-family:'Cormorant', serif;



body{
  background-color: $primary-color;
  color: $secondary-color;
  width: 390px;
  margin-top: 20px;
  margin-left: 30px;
}

.box1{

  &__my-name{
    width: 140px;
    height: 29px;
    font-size: 24px;
    font-family:$primary-font-family;
   }
   &__menu-icon{
     background-color: $primary-color;
     width:18px;
     height: 1px;
     margin-bottom: 34px;
     margin-left: 320px;
   }
   &__heading{
      font-family: $primary-font-family;
      width:3px;
      height: 200px;
      margin-top: 20px;

   }
   &__first-paragraph{
     widt
   }


}